.contacts-header-container{
    display: flex;
    
}

@media (max-width: 641px) {
    .contacts-header-container{
        justify-content: space-between;
        align-content: stretch;
        align-items: flex-end;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        background-color: rgb(64 64 64);
        padding: 0 1rem;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;

    }

    
}

@media (min-width: 642px) {
    .contacts-header-container{
        align-items: center;
        justify-content: space-around;
        
    }
}

.contacts-list{
    color: rgb(255, 255, 255);
    margin-bottom: 100px;
}